.appBar {
    .top-bar {
        height: 64px;
        box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
        .about-bar {
            width: 10%;
            float: right;
            
            .about{
                float: right;
                min-width: 85px;
                img {
                    min-width: 85px;
                }
            }
        }
        .main-bar {
            width: 90%;
            float: left;
        }
    }
    .bar-divider {
        z-index: 5;
        position: relative;
        background-color: #f5f5f5;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 1px solid rgba(0,0,0,.3);
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        width: 100%;
    }
    .menu-bar {
        .menu {
            .md-button {
                max-width: 36px;
            }
            width: 36px;
            margin-right: 16px;
        }
        img {
            height: 24px;
        }
        background-color: #f5f5f5!important;
    }
}
.coverBar {
    position: relative;
    height: 42px;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f5f5f5!important;
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    transition: all .8s ease;
    &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
    
}
.side-panel-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    display: none;
    transition: all .5s;
    right: 0;
    top: 0;
    z-index: 100;
    &.show {
        opacity: 0.5;
        display: block;
    }
}
.side-panel {
    position: fixed;
    width: 304px;
    height: 100%;
    top: 0;
    z-index: 100;
    transform: translate3D(-100%,0,0);
    transition: all .5s;
    &.show {
        transform: translate3D(0,0,0);
        .content {
            transform: translate3D(0%,0,0);
        }
    }
    
    .content {
        background-color: #fafafa;
        color: rgba(0, 0, 0, .9);
        font-size: 14px;
        width: 304px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3D(-100%,0,0);
        box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
        transition: all 1s;
        header {
            background-image: url('../../assets/img/background.svg');
            height: 226px;
            .tdl-avatar {
                margin-left: 16px;
                padding-top: 26px;
                padding-bottom: 12px;
                color: rgba(0,0,0,.87);
                margin-bottom: 6px;
                text-align: left;
                img{
                    border-radius: 50%;
                    height: 64px;
                    margin-bottom: 16px;
                }
            }
            .menu-bar {
                box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
                opacity: .9;
                background-color: #fafafa;
                img {
                    height: 24px;   
                }
            }
        }
        footer{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        
    .md-icon {
        color: #757575;
    }
    .md-list {
        padding: 0;
        box-shadow: 0 -2px 2px rgba(0,0,0,.12);
        font-size: 14px;
    }
    .md-list-item{
        font-size: 14px;
        img{
            float: left;
            height: 16px;
            display: block;
            &.logo{
                width: 23px;
                height: 23px;
                margin-right: 32px,
            }
        }
        &:hover{
            background-color: #cfcfcf;
        }
    }    
    }
}
.md-divider {
    border-bottom: .5px solid #74747459;
}
.md-list-item-content{
    span {
        font-size: 14px;
    }
}

.profile{
    position: relative;
    background-color: #fff;
    overflow: hidden;
    min-height: calc(100vh - 41px - 56px - 8vh);
    display: flex;
    align-items: center;
    justify-content: center;
    .background {
        position: absolute;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        opacity: .5;
        min-height: calc(100vh - 41px - 56px - 8vh);
        background-repeat: repeat;
        background-position: 50%;
        background-size: cover;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        -o-filter: blur(10px);
        filter: blur(10px);
        margin: -10px;
    }
    .profile-detail {
        position: relative;
        top: 0;
        margin: 0 auto;
        width: 720px;
        align-content: center;
        flex-direction: column;
        .recommendation {
            margin-top: 8vh;
            color: rgba(0,0,0,.54);
            .count {
                color: rgba(0,0,0,.54);
                font-size: 24px;
                font-weight: 400;
            }
        }
        .location {
            margin-top: 8vh;
            color: rgba(0,0,0,.54);
        }
    }
    img {
        &.avatar {
            border-color: rgb(96, 125, 139);
            width: 120px;
            height: 120px;
            border-radius: 120px;
            border: 5px solid;
            margin: 0 auto 3vh;
            text-transform: uppercase;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
}

.bio{
    .about {
        background: rgb(96, 125, 139);
        padding: 12vh 0;
        text-align: left;
        color: #fff;
        div {
            margin: 0 auto;
            width: 720px;
            
            p{  
                white-space: pre-wrap;
                word-wrap: break-word;
                letter-spacing: .01em;
                line-height: 20px;
                &::first-letter {
                    font-size: 200%;
                }
            }
        }
    }
    .experiences, .education{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
        margin-right: 24px;
        margin-left: 24px;
        .section-list{
            width: 100%;
            max-width: 720px;
            margin-top: calc(12vh - 28px);
            margin-right: 30px;
            margin-bottom: 104px;
            .title {
                text-align: left;
                font-size: 20px;
                color: #363636;
                font-family: 'Muli';
            }
            .md-card{
                color:rgba(0,0,0,.8);
                margin-bottom: 20px;
                background-color: #fff;
                text-align: left;
                
                h2{
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0 0 8px 0;
                    font-family: "Muli";
                    letter-spacing: 0.1px;
                    -webkit-font-smoothing: subpixel-antialiased;
                    
                }
                h3{
                    font-size: 16px;
                    font-weight: 300;
                    margin: 0
                }
                ul,li{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
                .md-card-footer{
                   background: rgb(246, 247, 248);
                   height: 56px;
                   line-height: 56px;
                   color:rgba(0,0,0,.5);
                   padding: 0 16px;
                   .date {
                    width: 75%;
                    float: left;
                   }
                   .options {
                       width: 20%;
                       float: right;
                       margin-top: 8px;
                       button {
                           float:left;
                       }
                   }
                }
            }
        }
        .timeline {
            position: -webkit-sticky;
            position: sticky;
            margin-top: calc(12vh + 20px);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            top: calc(10vh + 20px);
            width: 100%;
            max-width: 720px;
            height: 100%;
            max-height: 80vh;
        }
    }
    .recomendations {
        position: relative;
        overflow: hidden;
        min-height: calc(100vh - 41px - 56px - 8vh);
    }
    .linkedin-profile{
        background: rgb(96, 125, 139);
        padding: 6vh 4vh;
        text-align: left;
        color: #fff;
        min-height: 100vh;

        .title {
            width: 90%;
            text-align: right;
            img {
                height: 50px;
            }
        }
        .left{
            width: 20%;
            float: left;
            padding: 40px 10px;
            img{
                width: 100%;
                border-radius: 50%;
                border: 10px solid #ffffff21;
            }
            .headline {
                text-align: center;
                h2 {
                    text-transform: uppercase;
                    margin-bottom: 0
                }
                h3 {
                    font-weight: 400;
                    opacity: .8;
                    margin-top: 5px
                }
            }
        }
        .right{
            text-align: left;
            width: 80%;
            float: right;
            padding: 40px;
            .summary {
                .title {
                    text-align: left;
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #363636;
                    margin-bottom: 20px;
                    span {
                        float: right;
                        font-size: 16px;
                        opacity: .8;
                        text-transform: lowercase;
                    }
                }
                font-size: 16px;
                margin-bottom: 20px;
            }
            .positions {
                .title {
                    text-align: left;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #3d3c3c;
                    margin-bottom: 20px; 
                }
            }
            .md-card{
                color:rgba(0,0,0,.8);
                margin-bottom: 20px;
                background-color: #fff;
                text-align: left;
                
                h2{
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0 0 8px 0;
                    font-family: "Muli";
                    letter-spacing: 0.1px;
                    -webkit-font-smoothing: subpixel-antialiased;
                    
                }
                h3{
                    font-size: 16px;
                    font-weight: 300;
                    margin: 0
                }
                ul,li{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
                .md-card-footer{
                   background: rgb(246, 247, 248);
                   height: 56px;
                   line-height: 56px;
                   color:rgba(0,0,0,.5);
                   padding: 0 16px;
                   .date {
                    width: 75%;
                    float: left;
                   }
                   .options {
                       width: 20%;
                       float: right;
                       margin-top: 8px;
                       button {
                           float:right;
                       }
                   }
                }
            }
        }
    }
    
}

.main-footer {
    background-color: rgb(96, 125, 139);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 100;
    .md-button {
        color: #fff;
    }
}
